<header class="navbar navbar-expand-md navbar-dark fixed-top nga-navbar">
  <nav class="container">

    <a class="navbar-brand" alt="accueil" aria-label="menuiserie" routerLink="/">
      <img src="favicon.ico"/>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
    aria-controls="#navbarCollapse" aria-expanded="false">
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mx-auto">

      </ul>
    </div>
  </nav>
</header>
